header div li{
    display: inline;
    padding: 20px;
    margin-left: 160px;
    font-family: sans-serif;
    background-color: rgba(179, 179, 179, 0.548);
    background-repeat: scroll;
}
header div a{
    text-decoration: solid;
    color: black;
}
Header h1{
    padding-top: 450px;
    padding-left: 500px;

}
header{
    background-image: url(Lord.png);
    background-repeat: no-repeat;
    background-position: 150px 90px;
}
main{
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    color: white;
}
main p{
    font-size: 20px;
}
body{
    background-color: rgb(97, 3, 97);
    font-family: sans-serif;
}